body {
    font-family: Arial, Helvetica, sans-serif;
}
  
* {
box-sizing: border-box;
}

/*API weather styles*/
.date {
    font-size: 16px;
}

.current .temp {
    font-size: 102px;
}
  
.current .temp span {
    font-weight: 500;
}
  
.current .weather {
    font-size: 32px;
}
  
.current .hi-low {
    font-size: 24px;
}


